<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reseller Enquiry"}} @-->
<!--@vars {
"var name":"Name",
"var email":"Email",
"var contactno":"Contact No",
"var enquiry":"Enquiry",
"var postcode":"Postcode"
"var message":"Message"
} @-->

{{template config_path="design/email/header_template"}}
                    
	<table cellpadding="0" cellspacing="0" border="0" class="reseller_form_detail" style="width:100%">
		<tr><td><h2  style="text-align:center;">Become a Reseller Details</h2></td></tr>
		<tr>
			<td>
				<table border="1" style="width:100%">				
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Name</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var name}}</td>
					</tr>
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Email</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var email}}</td>
					</tr>
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Contact No</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var contactno}}</td>
					</tr>
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Enquiry</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var enquiry}}</td>
					</tr>
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Postcode</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var postcode}}</td>
					</tr>
					<tr>
						<td style="width:250px; padding:0 0 0 10px;"><b>Message</b></td>
						<td style="width:250px; padding:0 0 0 10px;">{{var message}}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

{{template config_path="design/email/footer_template"}}