<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
			 id="Dcs_Ajaxlogin::ajaxlogin_manage" 
			 title="Manage Login popup" module="Dcs_Ajaxlogin" 
			 sortOrder="10" parent="Dcs_Contactus::contactus"
			 resource="Dcs_Ajaxlogin::ajaxlogin_manage"
		/>
		<add 	 
			 id="Dcs_Ajaxlogin::ajaxlogin_settings" 
			 title="Settings" module="Dcs_Ajaxlogin" 
			 sortOrder="100" parent="Dcs_Ajaxlogin::ajaxlogin_manage" 
			 action="adminhtml/system_config/edit/section/reseller"
			 resource="Dcs_Ajaxlogin::ajaxlogin_settings"
		/> 
    </menu>
</config>
