<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
			 id="Dcs_Reseller::reseller_manage" 
			 title="Manage Reseller" module="Dcs_Reseller" 
			 sortOrder="10" parent="Dcs_Contactus::contactus"
			 resource="Dcs_Reseller::reseller_manage"
		/>
	    <add 
			 id="Dcs_Reseller::reseller_resellers" 
			 title="Become a Reseller Manager" module="Dcs_Reseller" 
			 sortOrder="20" parent="Dcs_Reseller::reseller_manage" 
			 action="dcs_reseller/index"
			 resource="Dcs_Reseller::reseller_resellers"
		/> 
		<add 	 
			 id="Dcs_Reseller::reseller_settings" 
			 title="Settings" module="Dcs_Reseller" 
			 sortOrder="30" parent="Dcs_Reseller::reseller_manage" 
			 action="adminhtml/system_config/edit/section/reseller"
			 resource="Dcs_Reseller::reseller_settings"
		/> 
    </menu>
</config>
