<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
			 id="Dcs_Contactus::contactus" 
			 title="23 Digital"
			 module="Dcs_Contactus"
			 sortOrder="10" 
			 resource="Dcs_Contactus::contactus"
		/>
        <add 
			 id="Dcs_Contactus::contactus_manage" 
			 title="Manage Contact Us" module="Dcs_Contactus" 
			 sortOrder="10" parent="Dcs_Contactus::contactus" 
			 resource="Dcs_Contactus::contactus_manage"
		/>
	    <add 
			 id="Dcs_Contactus::contactus_contact" 
			 title="Contact Enquiry" module="Dcs_Contactus" 
			 sortOrder="20" parent="Dcs_Contactus::contactus_manage" 
			 action="dcs_contactus/index/"
			 resource="Dcs_Contactus::contactus_contact"
		/> 
		<add 	 
			 id="Dcs_Contactus::contactus_settings" 
			 title="Settings" module="Dcs_Contactus" 
			 sortOrder="30" parent="Dcs_Contactus::contactus_manage" 
			 action="adminhtml/system_config/edit/section/contactsus"
			 resource="Dcs_Contactus::contactus_settings"
		/> 
    </menu>
</config>
