<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>         
        <faq_section>
            <general_group>
                <frontend_enable>1</frontend_enable> 
            </general_group>
        </faq_section>         
    </default>
</config>